
/* Home page bios */

.home-article {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 400px;
    max-height: 600px;
}

#home_bioArticle {
    background-image: url('../img/ben_trainor/lens_cap_resized.jpg');
}

#home_musicArticle {
    background-image: url('../img/ben_trainor/disposable_car_top_resized.jpg');
}

#home_soundArticle {
    background-image: url('../img/external/goldpark.jpeg');
}

#home_visualArticle {
    background-image: url('../img/portraits/esther_ring_resized.jpg');
}

#home_guitarArticle {
    background-image: url('../img/ben_trainor/Paper\ Watch\ We\ Are\ the\ Swimmers\ 2_00596_resized.jpg');
}


/* Visual */

#visual_titleArticle {
    background-image: url('../img/nature/white_shaded_resized.jpg');
}


/* Portfolio */

    /* Photos */

    .photo-container {
        z-index: 10;
        perspective: 1000px;
    }
    .photo-container:hover {
        z-index: 30;
    }

    .photo-portrait {
        /* z-index: 10; */
        transition-duration: .4s;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        min-height: 500px;
        max-height: 800px;
    }
    .photo-portrait:hover {
        filter: brightness(.8);
        /* transform: scale(0.98); */
        transform: translateZ(-20px);
        /* border: 4px solid black; */
    }

    .photo-nature {
        /* z-index: 10; */
        transition-duration: .4s;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        min-height: 400px;
        height: 25vw;
        max-height: 600px;
    }
    .photo-nature:hover {
        filter: brightness(.8);
        /* transform: scale(0.98); */
        transform: translateZ(-20px);
        /* border: 4px solid black; */
    }


    /* Highlighted photo modal */

    /* .modal-focus {
        border: 1px solid red;
    } */
    .modal-focus > .modal-dialog {
        /* border: 2px solid blue; */
        margin-top: 15vh;
        padding: 0;
        max-height: 70vh;
        width: 0;
    }
    .modal-focus > .modal-dialog > .modal-content {
        /* border: 1px solid green; */
        background-color: none;
        /* width: fit-content; */
    }
    .modal-focus > .modal-dialog > .modal-content > img {
        /* border: 1px solid sandybrown; */
        width: auto;
        height: fit-content;
        max-width: 90vw;
        max-height: 70vh;
    }
    @media only screen and (max-width: 575px) {
        .modal-focus > .modal-dialog {
            margin: 0;
            margin-top: 5vh;
            margin-left: 2.5vw;
            padding: 0;
            width: auto;
            max-width: 90vw;
            max-height: 100vh;
        }
        .modal-focus > .modal-dialog > .modal-content > img {
            /* border: 1px solid sandybrown; */
            width: fit-content;
            height: auto;
            max-width: 90vw;
            max-height: 90vh;
        }
    }


/* Contact page */

#contact_titleArticle {
    background-image: url('../img/ben_trainor/studio_photo.jpg');
    background-position-y: 20%;
    filter: grayscale(.1) brightness(1.3);
}