@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* Text colors and fonts */

    /* Main fonts and colors */
    
    html, body, p {
        font-family: "Raleway", "Open Sans", "Helvetica";
    }

    .text-light {
        color: #fafafa;
    }

    .text-dark {
        color: #222222;
    }

    .header-text > h1 {
        font-size: 60px;
    }

    .text-shadow {
        text-shadow: 0px 3px 0px black;
    }

    .bg-darker {
        background-color: #18181a;
    }


    /* Links */

    .nav-item > .link-primary, .nav-item > .link-primary:visited {
        color: #c7fcff;
        text-decoration: none;
    }
    .nav-item > .link-primary:hover, .nav-item > .link-primary:active {
        color: #9acdcf;
        text-decoration: none;
    }
    
    .nav-item > .link-secondary, .nav-item > .link-secondary:visited {
        color: #c0aaf6;
        text-decoration: none;
    }
    .nav-item > .link-secondary:hover, .nav-item > .link-secondary:active {
        color: #836bc0;
        text-decoration: none;
    }
    
    .nav-item > .link-light, .nav-item > .link-light:visited {
        color: #fafafa;
        text-decoration: none;
    }
    .nav-item > .link-light:hover, .nav-item > .link-light:active {
        color: #b4b4b4;
        text-decoration: none;
    }


/* Boxes */

    /* Header nav */

    .dropdown-menu {
        background-color: rgb(53, 53, 53);
        border-radius: 4px;
    }
    .dropdown-menu > li:first-of-type > a:hover {
        border-radius: 4px 4px 0px 0px;
    }
    .dropdown-menu > li:last-of-type > a:hover {
        border-radius: 0px 0px 4px 4px;
    }
    .dropdown-item:hover {
        background-color: rgb(71, 71, 71);
    }


    /* Intro graphic */

    .header-box {
        height: 60vw;
        background-image: linear-gradient(rgba(123, 92, 59, 0.5), rgba(123, 92, 59, 0.5)), url('../img/coffee_shop.jpg');
        /* background-blend-mode: darken; */
        background-repeat: no-repeat;
        background-size: cover;
    }
    .header-text {
        position: sticky;
        top: 40vh;
        margin-bottom: 10vh;
    }

    @media only screen and (max-width: 992px) and (min-width: 769px) {

        .header-box {
            height: 70vw;
        }
        .header-text {
            top: 35vw;
        }
    }

    @media only screen and (max-width: 768px) {

        .header-box {
            height: 80vw;
        }
        .header-text {
            position: sticky;
            top: 40vw;
            margin-bottom: 10vh;
        }
    }

    /* Home page bios */

    .home-article {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        min-height: 400px;
        max-height: 600px;
    }

    #home_firstArticle {
        background-image: url('../img/lens_cap.jpg');
    }

    #home_secondArticle {
        background-image: url('../img/cardinal_ball.jpg');
    }

    #home_thirdArticle {
        background-image: url('../img/coffee_shop.jpg');
    }


    /* Backgrounds */

    .bg-dark-25 {
        z-index: 10;
        background-color: rgba(0, 0, 0, 0.25);
    }
    
    