@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* Text colors and fonts */

    /* Main fonts and colors */
    
    html, body, div, p, button {
        font-family: "Raleway", "Open Sans", "Helvetica";
    }

    .text-light {
        color: #fafafa;
    }

    .text-dark {
        color: #222222;
    }

    .header-text > h1 {
        font-size: 60px;
    }

    button.submit-button {
        font-weight: bold;
        background-color: black;
        transition: .2s;
        box-shadow: none;
        border: 1px solid grey;
    }
    button.submit-button:hover {
        border: 1px solid #927ad1;
        background-color: #836bc0;
    }

    #a_contact {
        background-color: #685599;
        transition-duration: .2s;
    }
    #a_contact:hover {
        text-shadow: 0px 3px 0px black;
    }

    .text-shadow {
        text-shadow: 0px 3px 0px black;
    }

    .bg-med {
        background-color: #424248;
    }
    .bg-darker {
        background-color: #18181a;
    }


    /* Links */

    .navbar-nav > .nav-item > .link-primary, .navbar-nav > .nav-item > .link-primary:visited {
        color: #c7fcff;
        text-decoration: none;
    }
    .navbar-nav > .nav-item > .link-primary:hover, .navbar-nav > .nav-item > .link-primary:active {
        color: #9acdcf;
        text-decoration: none;
    }
    
    .navbar-nav > .nav-item > .link-secondary, .navbar-nav > .nav-item > .link-secondary:visited {
        color: #c0aaf6;
        text-decoration: none;
    }
    .navbar-nav > .nav-item > .link-secondary:hover, .navbar-nav > .nav-item > .link-secondary:active {
        color: #836bc0;
        text-decoration: none;
    }
    
    .navbar-nav > .nav-item > .link-light, .navbar-nav > .nav-item > .link-light:visited {
        color: #fafafa;
        text-decoration: none;
    }
    .navbar-nav > .nav-item > .link-light:hover, .navbar-nav > .nav-item > .link-light:active {
        color: #b4b4b4;
        text-decoration: none;
    }

    .link-dark {
        text-decoration: none;
    }
    .link-light {
        text-decoration: none;
    }

    .article-link {
        text-decoration: none;
        transition-duration: .2s;
    }
    .article-link:hover {
        filter: brightness(.75);
    }


/* Boxes */

    /* Header nav */

    .navbar .navbar-nav {
        z-index: 10;
    }

    .dropdown-menu {
        background-color: rgb(53, 53, 53);
        border-radius: 4px;
    }
    .dropdown-menu > li:first-of-type > a:hover {
        border-radius: 4px 4px 0px 0px;
    }
    .dropdown-menu > li:last-of-type > a:hover {
        border-radius: 0px 0px 4px 4px;
    }
    .dropdown-item:hover {
        background-color: rgb(71, 71, 71);
    }


    /* Intro graphic */

    .header-box {
        height: 60vw;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(54, 42, 30, 0.5)), url('../img/ben_trainor/coffee_shop_resized.jpg');
        /* background-blend-mode: darken; */
        background-repeat: no-repeat;
        background-size: cover;
    }
    .header-text {
        position: sticky;
        top: 40vh;
        margin-bottom: 10vh;
    }

    @media only screen and (max-width: 992px) and (min-width: 769px) {

        .header-box {
            height: 70vw;
        }
        .header-text {
            top: 35vw;
        }
    }

    @media only screen and (max-width: 768px) {

        .header-box {
            height: 80vw;
        }
        .header-text {
            position: sticky;
            top: 40vw;
            margin-bottom: 10vh;
        }
    }


    /* Contact form */

    #modal_contact {
        margin-top: 1vh;
        margin-bottom: 0px;
    }
    #iframe_contact {
        height: 83vh;
    }


/* Backgrounds */

.bg-dark-25 {
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.25);
}
.bg-dark-50 {
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.50);
}


    
    