@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* Testing borders */

.border-red {
    border: 1px solid red;
}
.border-blue {
    border: 1px solid blue;
}
.border-green {
    border: 1px solid green;
}


/* Text colors and fonts */

    /* Main fonts and colors */
    
    html, body, div, p, button {
        font-family: "Raleway", "Open Sans", "Helvetica";
    }

    .text-light {
        color: #fafafa;
    }

    .text-dark {
        color: #222222;
    }

    .header-text > h1 {
        font-size: 60px;
    }

    button.submit-button {
        font-weight: bold;
        background-color: black;
        transition: .2s;
        box-shadow: none;
        border: 1px solid grey;
    }
    button.submit-button:hover {
        border: 1px solid #927ad1;
        background-color: #836bc0;
    }

    #a_contact {
        background-color: #685599;
        transition-duration: .2s;
    }
    #a_contact:hover {
        text-shadow: 0px 3px 0px black;
    }

    .text-shadow {
        text-shadow: 0px 3px 0px black;
    }

    .bg-med {
        background-color: #424248;
    }
    .bg-darker {
        background-color: #18181a;
    }


    /* Links */

    .link-primary, .link-primary:visited,
    .navbar-nav > .nav-item > .link-primary, .navbar-nav > .nav-item > .link-primary:visited,
    .navbar-nav > .nav-item > .dropdown-menu > li > .link-primary, .navbar-nav > .nav-item > .link-primary:visited {
        transition-duration: .2s;
        color: #c7fcff;
        text-decoration: none;
    }
    .link-primary:hover, .link-primary:active,
    .navbar-nav > .nav-item > .link-primary:hover, .navbar-nav > .nav-item > .link-primary:active,
    .navbar-nav > .nav-item > .dropdown-menu > li > .link-primary:hover, .navbar-nav > .nav-item > .link-primary:active {
        color: #9acdcf;
        text-decoration: none;
    }
    
    .link-secondary, .link-secondary:visited,
    .navbar-nav > .nav-item > .link-secondary, .navbar-nav > .nav-item > .link-secondary:visited,
    .navbar-nav > .nav-item > .dropdown-menu > li > .link-secondary, .navbar-nav > .nav-item > .link-secondary:visited {
        transition-duration: .2s;
        color: #c0aaf6;
        text-decoration: none;
    }
    .link-secondary:hover, .link-secondary:active,
    .navbar-nav > .nav-item > .link-secondary:hover, .navbar-nav > .nav-item > .link-secondary:active,
    .navbar-nav > .nav-item > .dropdown-menu > li > .link-secondary:hover, .navbar-nav > .nav-item > .link-secondary:active {
        color: #836bc0;
        text-decoration: none;
    }
    
    .navbar-nav > .nav-item > .link-light, .navbar-nav > .nav-item > .link-light:visited {
        color: #fafafa;
        text-decoration: none;
    }
    .navbar-nav > .nav-item > .link-light:hover, .navbar-nav > .nav-item > .link-light:active {
        color: #b4b4b4;
        text-decoration: none;
    }

    .link-dark {
        text-decoration: none;
    }
    .link-light {
        text-decoration: none;
    }

    .article-link {
        text-decoration: none;
        transition-duration: .2s;
    }
    .article-link:hover {
        /* filter: brightness(.75); */
    }

        /* Social Icons */

        .social-icon {
            transition-duration: .2s;
            filter: invert(1);
            width: 50px;
        }
        .social-icon:hover {
            filter: invert(.8);
        }


/* Boxes */

    /* Header nav */

    .navbar .navbar-nav {
        z-index: 10;
    }

    .dropdown-menu {
        background-color: rgb(50, 50, 55);
        border-radius: 4px;
    }
    .dropdown-menu > li:first-of-type > a:hover {
        border-radius: 4px 4px 0px 0px;
    }
    .dropdown-menu > li:last-of-type > a:hover {
        border-radius: 0px 0px 4px 4px;
    }
    .dropdown-item:hover {
        background-color: rgb(71, 71, 71);
    }


    /* Intro graphic */

    .header-box {
        height: 60vw;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(54, 42, 30, 0.5)), url('../img/ben_trainor/coffee_shop_resized.jpg');
        /* background-blend-mode: darken; */
        background-repeat: no-repeat;
        background-size: cover;
    }
    .header-text {
        position: sticky;
        top: 40vh;
        margin-bottom: 10vh;
    }

    @media only screen and (max-width: 992px) and (min-width: 769px) {

        .header-box {
            height: 70vw;
        }
        .header-text {
            top: 35vw;
        }
    }

    @media only screen and (max-width: 768px) {

        .header-box {
            height: 80vw;
        }
        .header-text {
            position: sticky;
            top: 40vw;
            margin-bottom: 10vh;
        }
    }


    /* Contact form */

    #modal_contact {
        margin-top: 1vh;
        margin-bottom: 0px;
    }
    /* Modal contact popup */
    #iframe_contact {
        height: 83vh;
    }
    /* Embedded contact page form */
    #iframe_contact_full {
        height: 810px;
        width: 100%;
        margin-top: 20px;
    }

    @media only screen and (max-width: 480px) {
        #iframe_contact_full {
            height: 920px;
        }
    }


    /* Music page */

    .music-section, .album-cover-container {
        max-height: 100%;
    }
    .music-section img, .music-section .img-fluid, .album-cover-container img {
        max-height: 100%;
    }
    @media only screen and (max-width: 767px) {
        .music-section {
            max-height: 200px;
        }
        .album-cover-container {
            max-height: 400px;
        }
    }

    .album-title {
        /* min-height: 90px; */
    }
    .album-description {
        list-style-type: none;
    }
    

/* Backgrounds */

.bg-dark-25 {
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.25);
}
.bg-dark-50 {
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.50);
}
.bg-dark-50-animated {
    transition-duration: .3s;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.50);
}
.bg-dark-50-animated:hover {
    background-color: rgba(0, 0, 0, 0.75);
}


    
    